body {
    overflow: hidden;
    height: 100vh;
    margin: 0;
}
/* 데스크탑 */
section{
    background-image: url("src/background_pc.jpg");
    background-size: cover;
    height: inherit;
}
@media screen and (max-width:767px){
    section{
        background-image: url("src/background_mobile.jpg");
    }
}

select{
    width: 100vh;
    height: 40px;
    border: 1px solid #E0E0E0;
    padding: 0 10px;
    margin: 10px;
}
button{
    height: 40px;
}
#skip{
    margin-right: 15px;
}
#select{
    height: 15vh;
    padding-top: 13vh;
    padding-bottom: 4vh;
}
#question_box{
    height: 13vh;
    padding-left: 0;
}
#answer_box{
    height: 40px;
    padding-bottom: 10px;
}
#input-answer{
    width: 300px;
    font-size: 30px;
}