body {
    overflow: hidden;
    height: 100vh;
    margin: 0px;
}
section{
    background-image: url('src/background.jpg');
    background-size: cover;
    height: inherit;
}
footer{
    height: 100px;
}