body {
    overflow: hidden;
    height: 100vh;
    margin: 0;
}
/* 데스크탑 */
section{
    background-image: url("src/background_pc.jpg");
    background-size: cover;
    height: inherit;
}

@media screen and (max-width:767px) and (orientation: portrait){
    section{
        background-image: url("src/background_mobile.jpg");
    }
}

select, #part_button{
    width: 100px;
    height: 40px;
    border: 1px solid #E0E0E0;
    padding: 0 10px;
    margin: 10px;
    background-color: #FFFFFF;
}
button{
    height: 40px;
}
#part_button{
    padding-bottom: 0;
    margin-bottom: 0;
}
#skip{
    margin-right: 15px;
}
#select{
    height: 9vh auto;
    padding-top: 13vh;
    padding-bottom: 7vh;
}
#question_box{
    height: 16vh;
    padding-left: 0;
}
#answer_box{
    padding-bottom: 2vh;
}
#input-answer{
    width: 300px;
    font-size: 30px;
}

#part_select_box{
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
label{
    text-align: left;
}
.part_label:hover{
    background-color: #1e90ff;
    color: #FFFFFF;
}
.reset_button{
    background-color: rgb(240, 240, 240);
}
.reset_button:hover{
    background-color: rgb(220, 220, 220);
}